<h1>Vse podkategorije za <%= @category.name %></h1>
<br>
<% if @subcategories.empty? %>
	<p>Ni nobene podkategorije. Bodi car in vnesi eno </p>
<% else %>
	<% @subcategories.each do |item| %>
		<div><%= link_to item.name, controller: :articles, action: :index, id: item.id %></div>
	<% end %>
<% end %><br>
<%= link_to 'Dodaj podkategorijo', action: :new, id: @category.id%><br>
<%= link_to 'Nazaj', categories_path %>
