<% @home_page = true #this is just for not displaying breadchrumps at index page %>

<div class="row text-center color">
	<h1>Dobrodošli na naši spletni strani</h1>
	<h5>Lorem ipsum je napol naključni tekst, ki se ga uporablja kot “polnilni” tekst, predvsem kadar se prikazuje grafično podobo spletne strani, ki še nima vsebine. Seveda ne moremo pokazati popolnoma prazne strani, saj ne bo izgledala tako kot bo izgledala ko bo polna vsebine. Raziskave pa so pokazale tudi, da ni pametno pokazati nekega naključnega teksta, saj bo tekst motil ljudi ko gledajo grafično podobo.</h5>
</div>

<div class="row text-center">
	<div class="col-md-4"> <span class=" a glyphicon glyphicon-user big"></span> <div class=" a1 small-caps">Ti</div> </div>
	<div class="col-md-4"> <span class=" b glyphicon glyphicon-comment big"></span> <div class=" b1 small-caps">Si</div> </div>
	<div class="col-md-4"> <span class=" c glyphicon glyphicon-tree-conifer big"></span> <div class=" c1 small-caps">Car<div></div>
</div>
