<div class="row text-center color">
	<h1>Dobrodošli v deželi pravljic</h1>
	<h3>Nahajate se v pravljični spletni strani junakov is vseh dežel sveta</h3>
</div>

<div class="row text-center">
	<div class="col-md-4"> <span class=" a glyphicon glyphicon-user big"></span> <div class=" a1 small-caps">Jaz</div> </div>
	<div class="col-md-4"> <span class=" b glyphicon glyphicon-comment big"></span> <div class=" b1 small-caps">Sem</div> </div>
	<div class="col-md-4"> <span class=" c glyphicon glyphicon-tree-conifer big"></span> <div class=" c1 small-caps">Junak<div></div>
</div>
