<h1>Vse novice za <%= @subcategories.name %></h1>

<% if @articles.empty? %>
	<h4>V tej kategoriji ni novic. Se opravičujemo za nevšečnost :)</h4>
<% end %>

<% for article in @articles %>
	<div><%= link_to article.name,  controller: :texts, action: :show, id: article.id %></div>
<% end %>



